<div id="authenticator">
    <mat-card id="authenticator-container">
        <mat-card-header>
            <mat-card-title>{{getStateText()}}</mat-card-title>
        </mat-card-header>
        <div *ngIf="isLoginState()">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button mat-flat-button color="accent">Login</button>
        </div>
        <div *ngIf="isRegisterState()">
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="confirm password">
            <button mat-flat-button color="accent">Create</button>
        </div>
        <div *ngIf="isForgotPasswordState()">
            <input type="email" placeholder="Email">
            <button mat-flat-button color="accent">Reset</button>
        </div>
        <mat-card-actions align="end">
            <button mat-flat-button (click)="onForgotPasswordClick()">Forgot Password</button>
            <button mat-flat-button (click)="onCreateAccountClick()">Create an Account</button>
            <button mat-flat-button (click)="onLoginClick()">Login</button>
        </mat-card-actions>
    </mat-card>
</div>