<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="home-page">
    <div id="home-page-landing">
      
      <div class="landing-left">

        <div class="landing-left-contents">
          <h1>The Connect!</h1>
          <p>Expand your circle</p>
          <button
          (click)="onGetStartedClick()" 
          mat-flat-button color="warn">Get Connect!</button>
        </div>
      </div>

      <div class="landing-right"></div>
    
    </div>
  </div>
</body>
</html>